{% extends 'base.html' %}
{% load static %}
{%block content %}
<body>

    <div class="tmp-banner-one-area">
        <div class="container">
            <div class="banner-one-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="banner-right-content">
                            <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="{% static 'assets/images/a_mine/aslam.png' %}" alt="banner-img">
                            <h2 class="banner-big-text-1 up-down">WEB DEVELOPER</h2>
                            <h2 class="banner-big-text-2 up-down-2">WEB DEVELOPER</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="inner">
                            <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">Hello</span>
                            <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2 mt--5">I’m
                                Aslam Musbar a <br>
                                <span class="header-caption">
                                    <span class="cd-headline clip is-full-width">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible theme-gradient">Web Developer.</b>
                                            <b class="is-hidden theme-gradient">Web Designer.</b>
                                            <b class="is-hidden theme-gradient">Python Developer.</b>
                                            <b class="is-hidden theme-gradient">React Developer.</b>
                                            <b class="is-hidden theme-gradient">Web App Developer.</b>
                                            <b class="is-hidden theme-gradient">Software Developer.</b>
                                        </span>
                                </span>
                                </span>
                            </h1>
                            <p class="disc tmp-scroll-trigger tmp-fade-in animation-order-3"> A passionate Full Stack Developer specializing in Python, Django, and modern front-end frameworks. I design and build scalable web applications that are clean, responsive, and impactful. </p>
                            <div class="button-area-banner-one tmp-scroll-trigger tmp-fade-in animation-order-4">
                                <a class="tmp-btn hover-icon-reverse radius-round" href="{% static 'assets/resume/Aslam_Musbar\'s_Resume.pdf' %}" download>
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Download Resume</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tmp banner area end -->


    <!-- Tpm Service Area Start -->
    <section class="service-area tmp-section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-1 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-light fa-pen-ruler"></i>
                        </div>
                        <h4 class="service-title"><a href="service-details.html">Web Design</a></h4>
                        <p class="service-para">10 Projects</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-2 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-light fa-bezier-curve"></i>
                        </div>
                        <h4 class="service-title"><a href="service-details.html">Web Development</a></h4>
                        <p class="service-para">10 Projects</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-light fa-lightbulb"></i>
                        </div>
                        <h4 class="service-title"><a href="service-details.html">Web Research</a></h4>
                        <p class="service-para">10 Projects</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-4 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-light fa-envelope"></i>
                        </div>
                        <h4 class="service-title"><a href="service-details.html">backend Flow</a></h4>
                        <p class="service-para">5 Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm Service Area End -->


    <!-- Tpm Counter Area Start -->
    <section class="counter-area">
        <div class="container">
            <div class="row g-5">
                <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="year-of-expariance-wrapper bg-blur-style-one tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="year-expariance-wrap">
                            <!-- <h2 class="year-number"><span class="counter">25 </span> </h2> -->
                            <h2 class="counter year-number"><span class="odometer" data-count="01">00</span>
                            </h2>
                            <h3 class="year-title">Years Of <br> experience</h3>
                        </div>
                        <p class="year-para">Developed backend systems using Django and Python, optimized MySQL databases, and enhanced website responsiveness during a 6-month tenure as a Python Developer at M7 Corporation. Contributed to a 35% increase in donor engagement on Thaagam.org.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="year-of-expariance-wrapper bg-blur-style-one tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="year-expariance-wrap">
                            <!-- <h2 class="year-number"><span class="counter">25 </span> </h2> -->
                            <h2 class="counter year-number"><span class="odometer" data-count="10">00</span>
                            </h2>
                            <h3 class="year-title">Projects  <br> Completed</h3>
                        </div>
                        <p class="year-para">Delivered impactful projects including an e-commerce website, recommendation engine using KMeans & CLIP, and multiple full-stack features with Flask, HTML, CSS, and MySQL. Focused on performance, security, and user experience.</p>
                    </div>
                </div>
<!--                <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">-->
<!--                    <div class="counter-area-right-content">-->
<!--                        <div class="row g-5">-->
<!--                            <div class="col-lg-6 col-sm-6 col-12">-->
<!--                                <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">-->
<!--                                    <h3 class="counter counter-title"><span class="odometer" data-count="10">00</span>-->
<!--                                    </h3>-->
<!--                                    <p class="counter-para">Projects Completed</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--&lt;!&ndash;                            <div class="col-lg-6 col-sm-6 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h3 class="counter counter-title"><span class="odometer" data-count="10">00</span>k+&ndash;&gt;-->
<!--&lt;!&ndash;                                    </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <p class="counter-para">Our Natural Products</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col-lg-6 col-sm-6 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h3 class="counter counter-title"><span class="odometer" data-count="200">00</span>+&ndash;&gt;-->
<!--&lt;!&ndash;                                    </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <p class="counter-para">Clients Reviews</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col-lg-6 col-sm-6 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h3 class="counter counter-title"><span class="odometer" data-count="1000">00</span>+&ndash;&gt;-->
<!--&lt;!&ndash;                                    </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <p class="counter-para">our Satisfied Clientd</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
    <!-- Tpm Counter Area End -->

    <!-- tmp skill area start -->
    <div class="tmp-skill-area tmp-section-gapTop">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="progress-wrapper">
                        <div class="content">
                            <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">
                                Backend & DB Skill <span><img src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span>
                            </h2>
                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                    PYTHON</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 100%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">100%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                    DJANGO-FRAMEWORK</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">95%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                  AURORA MYSQL </h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 70%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">70%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                    SQLITE</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 80%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">80%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="progress-wrapper">
                        <div class="content">
                            <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">
                                Development Skill <span><img src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span>
                            </h2>
                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                    HTML</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 100%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">100%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                    CSS</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">95%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                    Javascript</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 85%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">85%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts">
                                <h6 class="heading heading-h6">
                                    BOOTSTRAP</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 70%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="percent-label">70%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tmp skill area end -->



    <!-- Tpm Education Experience Area Start -->
    <section class="education-experience tmp-section-gapTop">
        <div class="container">
            <div class="section-head mb--50">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">Education & Experience</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Empowering Innovation through Code
                    <br>  and Collaboration
                </h2>
                <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">With a strong foundation in computer science and hands-on experience in full-stack development,
                    I bring ideas to life through scalable, efficient, and impactful web applications. From backend logic in Django to polished front-end interfaces,
                    I’m driven by building technology that solves real-world problems.</p>
            </div>
            <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Education <span><img
                        src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span>
            </h2>
            <div class="row g-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <h4 class="edu-sub-title">M.Sc (Computer Science)</h4>
                        <h2 class="edu-title">2022-2024</h2>
                        <p class="edu-para">Completed postgraduate studies in Computer Science, gaining in-depth knowledge in programming, algorithms, and software engineering. Applied academic learning to real-world scenarios through projects and collaborative work.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <h4 class="edu-sub-title">B.Sc (Computer Science)</h4>
                        <h2 class="edu-title">2019-2022</h2>
                        <p class="edu-para">Graduated with a strong foundation in software development, data structures, and web technologies. Demonstrated problem-solving skills through academic projects and practical applications.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <h4 class="edu-sub-title">HSC</h4>
                        <h2 class="edu-title">2017-2019</h2>
                        <p class="edu-para">Completed higher secondary education with a specialization in Biology and Mathematics, building the groundwork for advanced technical studies.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <h4 class="edu-sub-title">SSLC</h4>
                        <h2 class="edu-title">2017</h2>
                        <p class="edu-para">Successfully completed secondary education with a focus on core academic subjects, maintaining consistent performance and discipline.</p>
                    </div>
                </div>
            </div>
            <div class="experiences-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="experiences-wrap-left-content">
                            <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Experiences <span><img
                            src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span></h2>

                            <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <p class="ex-subtitle">experience</p>
                                <h2 class="ex-name"><a href="https://thaagam.org/">Thaagam Foundation (1 Year)</a></h2>
                                <h3 class="ex-title">Full Stack Developer</h3>
                                <p class="ex-para">Contributed to the end-to-end development of donation platforms, volunteer systems, and campaign pages. Implemented features such as cause recommendations, dynamic content rendering, and secure form handling using Django, Python, HTML, CSS, and JavaScript. Focused on improving user experience and backend efficiency to support real-time donation tracking and campaign management.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="experiences-wrap-right-content">
                            <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="{% static 'assets/images/a_mine/img_1.png' %}" alt="expert-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm Education Experience Area End -->

    <!-- Tpm Our Supported Company Area Start -->
    <div class="our-supported-company-area tmp-section-gapTop">
        <div class="container">
            <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Live Domains <span><img
                    src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span></h2>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <a href="https://thaagam.org/">
                        <img src="{% static 'assets/images/a_mine/THAAGAMLOGO.png' %}" alt="Aslam - Personal Portfolio HTML Template" style=""></a>
                    </div>
                </div>
<!--                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">-->
<!--                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-2">-->
<!--                        <img src="{% static 'assets/images/our-supported-company/company-logo-2.svg' %}" alt="Aslam - Personal Portfolio HTML Template">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">-->
<!--                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-3">-->
<!--                        <img src="{% static 'assets/images/our-supported-company/company-logo-3.svg' %}" alt="Aslam - Personal Portfolio HTML Template">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">-->
<!--                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-4">-->
<!--                        <img src="{% static 'assets/images/our-supported-company/company-logo-4.svg' %}" alt="Aslam - Personal Portfolio HTML Template">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-5">
                        <a href="https://acustomsong.com/">
                        <img src="{% static 'assets/images/a_mine/custom-logo.png' %}" alt="Aslam - Personal Portfolio HTML Template"></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-6">
                        <a href="https://m7corporation.tech/">
                        <img src="{% static 'assets/images/a_mine/m7-logo.jpg' %}" alt="Aslam - Personal Portfolio HTML Template">
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="support-company-logo tmp-scroll-trigger tmp-fade-in animation-order-7">
                        <a href="https://nightshelter.gccservices.in/">
                        <img src="{% static 'assets/images/a_mine/gcc_logo.png' %}" alt="Aslam - Personal Portfolio HTML Template">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Tpm Our Supported Company Area End -->







    <!-- Tpm Get In touch start -->
    <section class="get-in-touch-area tmp-section-gapTop">
        <div class="container conlast">
            <div class="contact-get-in-touch-wrap">
                <div class="get-in-touch-wrapper tmponhover">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-5">
                            <div class="section-head text-align-left">
                                <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <span class="subtitle">GET IN TOUCH</span>
                                </div>
                                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Let’s Collaborate </h2>
                                <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">Let’s connect to discuss how my experience and problem-solving mindset can add value to your team.
                                    I’m open to exciting opportunities with forward-thinking organizations where I can contribute to impactful projects, grow my skill set, and make a real difference. </p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="contact-inner">
                                <div class="contact-form">
                                    <div id="form-messages" class="error"></div>
                                    <form class="tmp-dynamic-form" id="contact-form" method="POST" action="https://inversweb.com/product/html/reeni/mailer.php">
                                        <div class="contact-form-wrapper row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input class="input-field" name="name" id="contact-name" placeholder="Your Name" type="text" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input class="input-field" id="contact-phone" placeholder="Phone Number" type="number" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input class="input-field" id="contact-email" name="email" placeholder="Your Email" type="email" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input class="input-field" type="text" id="subject" name="subject" placeholder="Subject">
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <textarea class="input-field" placeholder="Your Message" name="message" id="contact-message" required></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="tmp-button-here">
                                                    <button class="tmp-btn hover-icon-reverse radius-round w-100" name="submit" type="submit" id="submit">
                                                        <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Appointment Now</span>
                                                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm Get In touch End -->
















</body>


<!-- Mirrored from inversweb.com/product/html/reeni/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 29 Apr 2025 17:50:45 GMT -->
{% endblock %}