{% extends 'base.html' %}
{% load static %}
{%block content %}
    <div class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h1 class="title split-collab">Project</h1>
                        <ul class="page-list">
                            <li class="tmp-breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                            <li class="tmp-breadcrumb-item active">Project</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-area-wrapper tmp-section-gap">
        <div class="container">
            <div class="contact-info-wrap">
                <div class="row">
                    <h1 style="display:flex;justify-content:center;align-items:center">To Be Updated soon</h1>
                </div>
            </div>
        </div>



    </div>
{% endblock %}